
.slide-dialog-container {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.slide-dialog-container.mat-dialog-container {
  transform: translateX(0);
  opacity: 1;
}

